@charset "utf-8";
@import url("rigpost.css");
.left{float:left; width:260px;}
.right{float:right; width:920px; overflow:hidden;}

/*幻灯*/
#flash { POSITION:relative; z-index:1; MARGIN:0px auto; HEIGHT:350px; CLEAR:both; OVERFLOW:hidden; text-align:center; }

#flash A { DISPLAY:none; HEIGHT:350px; }

#flash IMG { HEIGHT:350px }

.flash_bar { POSITION:absolute; TEXT-ALIGN:center; width:100%; BOTTOM:10px; _BOTTOM:30px;OVERFLOW:hidden; margin-right:auto; margin-left:auto; }
.flash_bar .dq { MARGIN:3px 0; WIDTH:15px; DISPLAY:inline-block; BACKGROUND:#ec2828; border-radius:15px; HEIGHT:15px; CURSOR:pointer; }
.flash_bar .no { MARGIN:3px 0; WIDTH:15px; DISPLAY:inline-block; BACKGROUND:#fff; border-radius:10px; HEIGHT:15px; CURSOR:pointer; }

#flashBg { margin:auto; WIDTH:100%; HEIGHT:350px; CLEAR:both; padding:0px; border-bottom:1px solid #dfdfdf; z-index:1; position:relative; }

#flashLine { WIDTH:100%; HEIGHT:350px; CLEAR:both; }

#flshimgload { position:absolute; width:100%; padding-top:145px; text-align:center; z-index:1; }

#flash A img.imgwait { margin:150px auto auto; width:auto; height:auto; }

#flashBg .container { position:relative; }

.heiptop_wrap{width:1200px; margin:0 auto; position:relative; z-index:9999;}

.heiptop_wrap_box{width:370px; height:260px; background:#fff; position:absolute; right:2px; top:-320px; z-index:99; padding:15px;}
.heiptop_wrap_box em{height:30px;display:block; padding-top:30px; padding-left:20px;}
.heiptop_wrap_box i{height:40px; text-align:center; display:block; padding:18px 0 8px 0;}
.heiptop_wrap_box i input{height:38px; line-height:38px; width:302px; padding:0 4px; border:1px solid #e9e9e9;}
.heiptop_wrap_box samp{height:35px; line-height:35px; font-size:12px; display:block; padding:15px 0 15px 30px;}
.heiptop_wrap_box samp a{padding-right:8px;}
.heiptop_wrap_box button{width:310px; height:50px;color:#fff; background:#ec2828; display:block; margin:0 auto; text-align:center; font-size:25px; font-family:"微软雅黑"; border-radius:2px;}




.heipli{height:350px;}
.heipli_left{float:left; width:239px; height:310px; border-right:1px solid #e9e9e9; padding:20px 30px;}
.heipli_boron{border-right:none; width:237px;}
.heipli_left h3{height:35px; line-height:35px; font-size:16px; font-family:"微软雅黑"; padding-bottom:15px;}
.heipli_left em{background:url(../images/help/001.jpg) no-repeat 10px center; height:80px; display:block;}
.heipli_left em.embg2{background-image:url(../images/help/002.jpg);}
.heipli_left em.embg3{background-image:url(../images/help/003.jpg);}
.heipli_left em.embg4{background-image:url(../images/help/004.jpg);}
.heipli_left span{padding:20px 0 10px 0; display:block; height:65px; line-height:20px; color:#666;}
.heipli_left span p{height:40px; line-height:20px; display:block;}
.heipli_left span u{padding-top:5px; display:block;}
.heipli_left span b{padding-top:15px; color:#333;}
.heipli_left q{height:36px; display:block;}
.heipli_left q i{height:18px; line-height:18px; display:block; color:#666;}
.heipli_left samp{padding-top:10px; height:25px; display:block; font-size:12px;}
.heipli_left samp a{padding:6px 15px;}



.heipleftnav{padding:15px 20px;}
.heipleftnav ol{font-size:14px; font-weight:bold; height:30px; line-height:30px; padding-bottom:10px;}
.heipleftnav li{line-height:30px;}
.heipleftnav li a{background:url(../images/help/more_list.gif) no-repeat 0 9px;padding-left:20px; display:inline-block;}
.heipleftnav li.select a{background-image:url(../images/help/less_list.gif);}
.heipleftnav li.select a, .heipleftnav li a:hover{ color:#ec2828; font-weight:bold;}

.heipleftnav li dl{display:none; padding-left:20px;}
.heipleftnav li dd{height:25px; line-height:25px; background:none; padding:0;}
.heipleftnav li dd a, .heipleftnav li dd a:link, .heipleftnav li dd a:visited, .heipleftnav li dd a:active {padding-left:5px; color:#333; font-weight:normal; background:none;}
.heipleftnav li dd.selectde a, .heipleftnav li dd.selectde a:hover,.heipleftnav li dd.selectde a:link, .heipleftnav li dd.selectde a:active, .heipleftnav li dd.selectde a:visited, .heipleftnav li dd a:hover{ color:#ec2828; font-weight:bold;}




.fasttel{padding:20px;}
.fasttel em{background:url(../images/help/telzx.jpg) no-repeat 0 center; height:35px; display:block;}
.fasttel h3{font-size:32px; font-family:Arial, Helvetica, sans-serif; height:50px; line-height:50px; color:#333;}
.fasttel u{line-height:25px; height:25px; display:block; color:#999;}

.heipshouso{padding:20px; background:url(../images/help/001.jpg) no-repeat 25px 45px #fff; padding-left:120px;}
.heipshouso em{height:30px; display:block;}
.heipshouso .shouso{height:85px; font-size:12px; display:block; padding-top:20px; padding-bottom:15px;}
.heipshouso .shouso i{width:480px; height:40px; display:block;}
.heipshouso .shouso i input{height:38px; line-height:38px; width:392px; border:1px solid #e9e9e9; padding:0 8px;}
.heipshouso .shouso i button{width:50px; height:38px; font-weight:bold; cursor:pointer; margin-left:4px; vertical-align:middle;}
.heipshouso .shouso u{line-height:30px; height:30px; display:block; padding-top:15px;}
.heipshouso .shouso u a{padding-right:8px;}

.heip_process{padding:20px; clear:both;}
.rmlc_lxl{height:35px; line-height:35px; font-size:16px; font-family:"微软雅黑";}
.rmlc_lxl_li{height:80px; overflow:hidden;}
.circuit_title{float:left; width:50px;}
.circuit_title b{width:20px; line-height:18px; height:75px; display:block; padding-left:20px; padding-top:5px; font-size:14px; color:#EA5E00;border-right:3px solid #EA5E00; padding-right:7px;}
.circuit_title b.witkey{color:#0099CC; border-color:#0099CC;}
.circuit_step{float:left; width:800px; height:80px; padding-left:20px;}
.circuit_step li{float:left; width:68px; height:58px; background:#f9f9f9; border:1px solid #e9e9e9; text-align:center; padding:10px 15px;}
.circuit_step li.help_arrow{background:url(../images/help/help_arrow.gif) no-repeat center center; width:25px; height:80px; border:none;}
.circuit_step li span{height:25px; text-align:center; line-height:25px; display:block;}
.circuit_step li span.icon_help32{background:url(../images/help/help_middle_icon.gif) no-repeat center -224px; height:30px; display:block;}
.circuit_step li span.bounty{background-position: center -257px;}
.circuit_step li span.ver{background-position: center -289px;}
.circuit_step li span.acc_cer{background-position:center -418px;}

.circuit_step li.three_icon{background:#f9f9f9; padding:10px 8px;width:82px; height:58px;}
.circuit_step li.three_icon p{height:18px; line-height:18px; display:block; padding:1px 0;}
.circuit_step li.three_icon p span{width:18px; height:18px; background:url(../images/help/help_small_icon.gif) no-repeat 0 -73px; display:inline-block; margin-right:5px; vertical-align:middle;}
.circuit_step li.three_icon p span.slap_tra{background-position:0 -92px;}
.circuit_step li.three_icon p span.pur_ser{background-position:0 -109px;}
.circuit_step li.three_icon p span.sale_ser{background-position:0 -128px;}
.circuit_step li.two_icon{width:130px;}
.circuit_step li.two_icon div{float:left; width:65px;}
.circuit_step li.two_icon div span.evaluate{background-position:center -321px;}
.circuit_step li.two_icon div span.paying{background-position:center -352px;}
.circuit_step li.two_icon div span.to_cash{background-position:center -384px;}




.heip_txtlist{ clear:both;}
.heip_txtlist_fl{float:left; width:450px;}
.heip_txtlist_fr{float:right; width:450px;}
.heip_txtlist_box{padding:15px 20px;}
.heip_txtlist_box li{height:30px; line-height:30px; background:url(../images/common/libg.png) no-repeat 0 13px; padding-left:15px;}


.answertit b{font-size:12px; font-weight:normal;}
.heip_answerbox{padding:20px;}
.heip_answerbox li{height:30px; line-height:30px; background:url(../images/common/libg.png) no-repeat 0 13px; padding-left:20px; font-size:14px;}

.heip_answer_content{padding:20px 35px;}
.heip_answer_content h1{height:40px; line-height:40px; text-align:center; font-size:20px; font-family:"微软雅黑"; border-bottom:1px solid #e9e9e9; padding-bottom:15px;}
.heip_answer_content h5{padding-top:10px; font-size:14px; font-family:"微软雅黑"; height:35px; line-height:35px;}
.heip_answer_content .txtcontent{font-size:14px; line-height:25px;}
.heip_answer_content .txtcontent p{padding:10px 0;}
.heip_answer_content .txtcontent_button{height:30px; line-height:30px; border-bottom:1px solid #e9e9e9; padding:30px 0 15px 0;}
.heip_answer_content .txtcontent_button span{float:left; color:#999;}
.heip_answer_content .txtcontent_button samp{float:right;}
.heip_answer_content .txtcontent_button samp em{float:left; background:url(../images/help/help_small_icon.gif) no-repeat 0 0; padding:0 0 0 20px; display:inline-block; height:18px; line-height:18px; font-style:normal; font-size:12px;}
.heip_answer_content .txtcontent_button samp em.collect{background-position:0 -19px;}

.heip_answer_content .heip_onoff{padding-top:15px;}
.heip_answer_content .heip_onoff p{height:25px; line-height:25px; white-space:nowrap; display:block;}
.heip_answer_content .heip_onoff div.btn{height:auto; padding-top:10px; display:block;}
.heip_answer_content .heip_onoff div.btn span{height:28px; width:130px; display:block; float:left; position:relative;}
.heip_answer_content .heip_onoff div.btn span samp{background:#f9f9f9; border:1px solid #e9e9e9;height:23px; display:block; padding:5px 10px 0 10px; position:absolute; left:0; top:0; z-index:3; font-size:12px;}
.heip_answer_content .heip_onoff div.btn span samp a{color:#999;}
.heip_answer_content .heip_onoff div.btn span samp.select{border-bottom-color:#fff; background:#fff; font-weight:bold;}
.heip_answer_content .heip_onoff div.btn span samp.select a{color:#333;}
.heip_answer_content .heip_onoff div.btn span a{background:url(../images/help/help_small_icon.gif) no-repeat 0 -35px; display:block; height:18px; line-height:18px; padding:0 0 0 25px;}
.heip_answer_content .heip_onoff div.btn span a.notlike{background-position:0 -54px;}

.heip_answer_content .tipbox{border:1px solid #e9e9e9; background:#fff; padding:15px; line-height:25px; height:25px; width:820px; position:absolute; left:0; top:29px; z-index:1; display:none; font-weight:bold;}
.heip_answer_content .tipbox u{float:left;}
.heip_answer_content .tipbox u img{vertical-align:middle;}
.heip_answer_content .tipbox i{float:right; font-size:12px; cursor:pointer; color:#06c;}
.heip_answer_content .heigth3{height:50px; display:none;}


.heip_left_list{padding:15px;}
.heip_left_list li{line-height:30px; height:30px; background:url(../images/common/libg.png) no-repeat 0 14px; padding-left:15px; overflow:hidden;}
.heip_servicebox{clear:both;}
.heip_serviceli{border-right:1px solid #e9e9e9; width:245px; height:170px; padding:20px 30px; float:left;}
.heip_serviceli h3{background:url(../images/help/help_middle_icon.gif) no-repeat 0 0; padding-left:40px; font-size:14px; height:30px; line-height:30px;}
.heip_serviceli span{height:40px; line-height:20px; padding:15px 0 30px 0; color:#999; display:block;}
.heip_serviceli a{border:1px solid #D4D4D4; background:url(../images/task/bars.png) repeat-x 0 0; width:90px; height:40px; line-height:40px; display:block; text-align:center;}
.heip_serviceli_x{background:#e9e9e9; height:1px; line-height:0; font-size:0; overflow:hidden; clear:both; float:none;}
.heip_serviceli h3.key{background-position:0 -32px;}
.heip_serviceli h3.user{background-position:0 -452px;}
.heip_safe{padding:20px 40px;}
.heip_safe_li{border-bottom:1px solid #e9e9e9; padding:25px 0; height:30px; line-height:30px; clear:both;}
.heip_safe_li b{font-size:16px; background:url(../images/help/help_middle_icon.gif) no-repeat 0 -192px; display:block; width:80px; padding-left:35px; float:left;}
.heip_safe_li b.tx{background-position:0 -64px;}
.heip_safe_li b.rz{background-position:0 -128px;}
.heip_safe_li b.cx{background-position:0 -160px;}
.heip_safe_li span{float:left; color:#999;}
.heip_safe_li span a{padding:0 10px;}
.heip_contact{padding-top:30px;}
.heip_contact_li{padding:20px; width:340px; height:260px; float:left; margin:0 0 20px 20px;*margin:0 0 -5px 20px;}
.heip_contact_li em{float:left; width:140px; height:165px; display:block;}
.heip_contact_li ul{float:left; width:180px; padding-left:20px; height:165px; display:block;}
.heip_contact_li ul ol{font-size:14px; font-weight:bold; line-height:30px; height:30px; padding-top:14px;}
.heip_contact_li ul li{height:22px; line-height:22px; padding:2px 0;}
.heip_contact_li ul li img{vertical-align:middle;}
.heip_contact_li span{height:80px; display:block; padding-top:25px; line-height:20px; color:#999; clear:both;}
.heipml_on{margin-left:0;}

/*找回帐号*/
.heip_navtit{ border:1px solid #e9e9e9; border-bottom:none;}
.heip_navleft{ clear:both; border-left:1px solid #e9e9e9; border-right:1px solid #e9e9e9;}
.heip_navleft li{height:50px; line-height:50px; padding-left:25px; background:#f9f9f9; border-bottom:1px solid #e9e9e9;}
.heip_navleft li a{padding-left:10px; font-size:14px; font-family:"微软雅黑";}
.heip_navleft li.select{background:#fff;}
.heip_navleft li.select a{font-weight:bold;}

.retrieveuser{padding:30px 50px;}
.retrieveuser_lcx{height:45px; width:800px; margin-right:auto; padding-bottom:20px;}
.retrieveuser_lcx h3{ background:#e9e9e9; line-height:0; font-size:0; overflow:hidden; display:block; width:800px;}
.retrieveuser_lcx h3.on{width:600px;}
.retrieveuser_lcx h3 samp{background:#D9E8C1; height:5px; display:block; width:200px; float:left;}
.retrieveuser_lcx h3 span{background:#8BBA45; height:5px; display:block; width:200px; float:left;}

.retrieveuser_lcx ul{padding-top:8px; clear:both;}
.retrieveuser_lcx li{float:left; width:200px; height:30px; line-height:30px; text-align:center;}
.retrieveuser_lcx li.select{color:#8BBA45; font-weight:bold;}

.heip_formlist{clear:both; padding-bottom:20px;}
.heip_formlist li{padding:10px 0; clear:both; height:40px; line-height:40px; display:block; font-size:14px; clear:both;}
.heip_formlist li.fs{height:60px; line-height:60px;}
.heip_formlist li q{float:left; width:120px; text-align:right; padding-right:10px;}
.heip_formlist li.fs span{float:left; width:148px; height:58px; display:block; background:#fff; border:1px solid #e9e9e9; padding-left:20px; cursor:pointer;}
.heip_formlist li.fs span i{background:url(../images/help/icose.png) no-repeat; display:inline-block; float:left;}
.heip_formlist li.fs span i.phone{width:20px; height:32px; margin-top:14px;}
.heip_formlist li.fs span i.email{width:32px; height:22px; background-position:0 -50px; margin-top:19px;}
.heip_formlist li.fs span u{padding-left:10px; float:left;}
.heip_formlist li.fs span.select{border-color:#8BBA45; border-width:2px; color:#8BBA45; background:url(../images/help/tubao1.gif) no-repeat right top;}
.heip_formlist li.fs span.select i.phone{background-position:right 0;}
.heip_formlist li.fs span.select i.email{background-position:right -50px;}
.heip_formlist li span{height:40px; display:inline-block;}
.heip_formlist li span input{height:38px; line-height:38px; width:260px; border:1px solid #e9e9e9; background:#fff; padding:0 4px; margin:0;}
.heip_formlist li span input.code{width:98px;}
.heip_formlist li span img{vertical-align:middle;}
.heip_formlist li span a{padding-left:10px;}
.heip_formlist li span input.btn{background:#8BBA45; border:1px solid #80AA40; color:#fff; font-size:14px; cursor:pointer; width:120px;}
.heip_formlist li span b{font-size:12px; font-weight:normal;}

.heip_retrieve_about{border-top:1px solid #e9e9e9; padding-top:20px;}
.heip_retrieve_about h3{font-size:14px; font-family:"微软雅黑"; height:35px; line-height:35px;}
.heip_retrieve_about h4{font-size:12px; font-family:"微软雅黑"; line-height:30px; height:30px; color:#0066CC;}
.heip_retrieve_about span{line-height:25px; font-size:12px;}

.heip_success{height:55px; line-height:55px; width:740px; border:1px solid #D9E8C1; background:url(../images/common/right.gif) no-repeat 10px center #ECF3E0; padding-left:60px; font-family:"宋体";}


.play_self_nav {  border:1px solid #dfdfdf; background:#fff;}
.nav_corqh { height:35px; position:relative;}
.nav_corqh span {float:left; width:50%; background:#f4f4f4; height:35px;border:1px solid #dfdfdf; margin-right:-1px; margin-right:-1px; margin-top:-1px; text-align:center; line-height:35px; font-size:14px; cursor:pointer;}
.nav_corqh .on { background:none; color:#ea5e00; font-weight:bold; margin-left:0; border:none; }
/*玩转一品*/
.help_navlist { padding:10px 0;}
.help_navlist li { line-height:24px; padding-left:25px; font-family:"微软雅黑";}
.big_tilt { cursor:pointer;}
.help_navlist li .on { background:url(../wz/close.png) no-repeat left center; padding-left:20px;}
.help_navlist li .off { background:url(../wz/folder.png) no-repeat left center; padding-left:20px;}
.help_navlist .selec { font-weight:bold; color:#ea5e00;}
.help_navlist li li { color:#999;}
.help_navlist li li span { display:inline-block; vertical-align:middle; width:15px; text-align:center; margin-right:10px;}

.play_self_img { border:1px solid #dfdfdf; background:#fff; padding-bottom:25px;}
.play_self_img h1 { height:36px; line-height:36px; font-size:14px; padding-left:12px; margin-top:15px;}
.play_self_img h1 span { color:red;}
.paly_img_box { width:700px; margin:10px auto;}
.help_navlist li {cursor: pointer;}