.fwin{ box-shadow: inset 0 0 2px rgba(255, 255, 255, 1), 0 0 20px rgba(0,0,0,.2);border:1px solid #666;   }

/*alert提示框内容样式*/
.sltm{border: 1px solid #CCC;background: #FFF url(../images/common/newarow.gif) no-repeat 100% -19px;text-align: left;padding: 0 17px 0 4px;}
.sltm ul{margin: 3px 6px;}
.sltm li{color: #666;cursor: pointer;padding: 2px 0;}
.sltm li:hover{color: #333;}
.sltm li.current{color: #333;}
.altw{width: 350px; margin-top:10px}
.altw .fltc{margin-bottom: 0;padding: 8px;}

/*alert提示框的效果*/
.alert_right,.alert_error,.alert_info,.confirm_info{padding: 13px 0 13px 58px;min-height: 40px;height: auto !important;height: 40px;line-height: 160%;background: url(../images/common/right.gif) no-repeat 8px 8px;font-size: 14px; float:left;}
.alert_error{background-image: url(../images/common/error.gif);}   /*错误的提示*/
.alert_info{background-image: url(../images/common/info.gif);}   /* info提示*/
.alert_right{background-image: url(../images/common/right.gif);}  /* right提示*/
.confirm_info{background-image:url(../images/common/confirm.png);} /*确认提示*/
.alert_right a { font-size:12px;}

/*pop窗口的样式*/
.p_pop,.p_pof{/*padding: 5px 0;*/border: 1px solid;border-color: #DDD #AAA #888 #DDD;background: #FFF;}
.p_pof{width: 500px;}
.p_opt{padding:5px;}
.p_pop li{display: inline; float:left;}
.p_pop a{ opacity:0.5; display: block;padding: /*3*/1px /*15*/1px; margin:0 3px;  border: solid #FFF;border-width: 1px ;white-space: nowrap;}
.p_pop a:hover{/*border-color:#ccc ;*/opacity:1;  background: #F4F4F4 url("../images/common/tb.png") repeat-x 0 0;}
.p_pop a img{ display:block;}
.p_opt .txt,.p_opt .txtarea{margin: 5px 0;}
.p_pop .flbc,.p_pof .flbc{margin-right: 8px;margin-top: 4px;}

/*窗口边框的定义*/
.tt_l,.tt_c,.tt_r,.m_l,.m_r,.b_l,.b_c,.b_r{overflow: hidden;  background:#bbbbbb !important; filter:alpha(opacity=70); background:rgba(187, 187, 187, .7) !important;}
.tt_l,.tt_r,.b_l,.b_r{width: 8px;height: 8px;}
.tt_c,.b_c{height: 8px;}
.m_l,.m_r{width: 8px;}
.tt_l{}
.tt_r{}
.b_l{}
.b_r{}
.m_c{background: #FFF; border:1px solid #333\0; }
.m_c .tb{margin: 0 0 10px;padding: 0 10px;}
.m_c .c{padding: 0 10px 10px;}
.m_c .o{ padding: 8px 10px; margin-bottom:0; height: 31px;text-align: right;background-color:#F6F6F6; border-top:solid 1px #DADEE5; }
.m_c .el{width: 420px;}
.m_c .el li{padding: 0;border: none;}

/*窗口标题拖动效果*/
.flb { height:35px; line-height:35px; padding:0 10px 0 10px; font-weight:bold; color:#333; font-family: Tahoma, Arial/9!important; background-color:#e4e4e4; }
.aui_state_focus .flb { color:#666; }
.aui_state_drag .flb { background: #e4e4e4; box-shadow:none; }
a.flbc_nohead { position:absolute; top:15px; right:15px; z-index:10;}
a.flbc_nohead:hover { color:#EB2626;}


/*窗口标题效果*/
.flb em{float: left;font-size: 14px;font-weight: 700;color: #333;font-style:normal;}
.flb em a{text-decoration: none;}
.flb .needverify{margin-left: 8px;padding-left: 13px;width: 45px;height: 21px;line-height: 21px;background: url(../images/common/re_unsolved.gif) no-repeat 0 0;font-size: 12px;color: #999;font-weight: 400;}
.flb .onerror,.fl .onright{white-space: nowrap;height: auto;line-height: 140%;color: #666;font-size: 12px;font-weight: 400;}
.flb span{float: right;color: #999;}
.flb span a,.flb strong{float: left;text-decoration: none;font-weight: 400;color: #666;}
.flb span a:hover{color: #333;}
.flbc{float: left;width: 20px;height: 20px; line-height:20px; text-align:center; margin-top:8px; overflow: hidden;}
.flbc:hover{ background:#fff;}



/*alert提示框按钮样式*/ 
 .pns { padding:8px !important; text-align:right !important; white-space:nowrap !important; }
.pns button {  border-radius: 5px; width: 80px; text-align: center; margin-left:10px; }
.pns button:-moz-focus-inner{ border:0; padding:0; margin:0; }
/*.pns button:active { background-position: 0 -440px;}*/
.pns button[disabled] { cursor:default; color:#666; background:#DDD; border: solid 1px #999; filter:alpha(opacity=50); opacity:.5; box-shadow:none; }


.appdoload{line-height:16px;}
.doload_ico{width:15px; height:16px; display:inline-block; background:url(../images/common/arrow_main.png) no-repeat 0 -220px; margin-right:5px;}

